<!DOCTYPE html>
<html>
<head>
    <title>Flask API</title>
</head>
<body>
    <h1>Welcome to Flask API</h1>
    <p>Choose an endpoint to explore:</p>
    <ul>
        <li><a href="/policy-info/policyInfo">Policy Info</a></li>
        <li><a href="/carrier-policy-count/carrierpolicycount">Carrier Policy Count</a></li>
        <li><a href="/person-policies/personpolicies">Person Policies</a></li>
        <li><a href="/data-provider-policies/dataproviderpolicies">Data Provider Policies</a></li>
    </ul>
</body>
</html>
